{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.0"}
        ring/ring-core            {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter   {:mvn/version "1.13.0"}
        metosin/reitit-ring       {:mvn/version "0.7.2"}
        hiccup/hiccup             {:mvn/version "2.0.0-RC3"}
        clj-commons/clj-yaml      {:mvn/version "1.0.29"}
        markdown-clj/markdown-clj {:mvn/version "1.12.8"}}

 :aliases
 {:dev   {:extra-paths ["dev" "test"]
          :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                        ring/ring-devel              {:mvn/version "1.13.0"}}}
  :test  {:extra-paths ["test"]
          :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                        io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
          :main-opts   ["-m" "cognitect.test-runner"]}
  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}}}
